.chart-container {
  display: flex;
  justify-content: space-around; /* Distributes space around each chart */
  align-items: center;
  flex-wrap: wrap; /* Allows charts to stack on smaller screens */
  padding: 16px;
  gap: 16px; /* Adds consistent space between the charts */
}

.chart-container > div {
  flex: 1 1 45%; /* Allows each chart container to take up 45% of the width */
  max-width: 45%; /* Limits width to 45% to prevent overflow */
}

.diagram {
  width: 100%; /* Ensures each chart fills its container's width */
  height: 250px; /* Sets a fixed height for each chart */
  max-height: 250px; /* Ensures each chart doesn’t exceed this height */
}

mat-tab-group {
  margin-top: 60px;
}
