.chart-container {
    display: flex; /* Setzt den Container auf Flexbox */
    flex-direction: row; /* Stellt sicher, dass die Flex-Elemente in einer Reihe sind */
 /*   justify-content: space-between; /* Verteilt den verfügbaren Platz zwischen den Charts */
    flex-wrap: nowrap; /* Erlaubt Umbruch, wenn der Platz nicht ausreicht */
     gap: 20px; /* Optional: Abstand zwischen den Charts */
  }
  
  .some-class {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Beispiel für einen Farbverlauf */
  }